language: c
sudo: false
os:
  - linux
  - osx
  - windows
compiler:
  - clang
  - gcc
script: make test
matrix:
  include:
    - os: linux
      compiler: clang
      script: make test98
      sudo: required
      services:
        - docker
